<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

  <display-name>VitApp</display-name>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <description>Pour gérer les sessions de travails des différents intervenants.</description>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>com.ipstcnam.vitameal.servlets.Connexion</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/index.html</url-pattern>
    <url-pattern>/index.htm</url-pattern>
    <url-pattern>/index.jsp</url-pattern>
    <url-pattern>/default.html</url-pattern>
    <url-pattern>/default.htm</url-pattern>
    <url-pattern>/default.jsp</url-pattern>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>Pour gérer les profils patients.</description>
    <servlet-name>ProfilPatient</servlet-name>
    <servlet-class>com.ipstcnam.vitameal.servlets.ProfilPatient</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ProfilPatient</servlet-name>
    <url-pattern>/ProfilPatient</url-pattern>
  </servlet-mapping>

  <servlet>
    <description>Pour gérer les plats.</description>
    <servlet-name>Plats</servlet-name>
    <servlet-class>com.ipstcnam.vitameal.servlets.Plats</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Plats</servlet-name>
    <url-pattern>/Plats</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>5</session-timeout>
    <cookie-config>
      <comment>Identifiant de session.</comment>
      <max-age>100</max-age>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>

</web-app>